body{
    background-image: url(src/sample.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Nunito', sans-serif;
   
   
    
    color: white;
}
header{
    font-size: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}
.container{
    display: flex;
   min-height: 100vh;
   min-width: 100vh;
   justify-content: space-evenly;
   flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
  
}
.weatherTab{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.weatherTab>*{
   margin: 10px;
   
}
.weatherDetailsTab{
    flex-grow: 1;
    

    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    
    
}
.weatherIcon{
   width: 140px;
   margin-left: 20px;
}
.currentWeather{
    font-size: 100px;
    font-weight: bolder;
}
.currentWeatherDescription{
font-size: 40px;
margin: 0px;
}
.location{
    font-size: 50px;
}
.date,.time{
    font-size: 25px;
}
.tempIcon{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tempC{
    font-size: 75px;
}
.tempF{
    font-size: 40px;
    float: right;
}
.message{
    font-size: 13px;
    height: 13px;
}


.weatherDetailsContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.weatherDetailsTabItem{
    display: flex;
    
}
.weatherDetailsTabItem img{
    height: 100px;
}
.details{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.detailContent{
    font-size: 40px;
}




footer{
    
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
footer .credits{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: white;
}
footer .credits a{
    background-color: #6082B6;
    padding: 0.3em;
    border-radius: 5px;
    font-weight: bold;
}
footer .credits *{
    margin-bottom: 10px;
}
footer .credits a:hover{
    background-color: #6F8FAF;
}
footer .copyrights{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    font-weight: bold;
}
footer img{
    width: 30px;
    margin-left: 10px;
    transition: transform .4s;
}
footer img:hover{
    width: 30px;
    
    transform: scale(1.3);
}
